/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}
.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
    
}

.table-view .column-header-background{
    -fx-background-color:  #112046;
    
    -fx-opacity: 0.0;
    
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    
}

.table-view .column-header {
    -fx-background-color: transparent;
   
}
.table-view .table-cell{
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color,  #112046;
    -fx-border-color: #112046;
    -fx-table-cell-border-color: #112046;
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #112046;
    -fx-border-color: #112046;
    -fx-table-cell-border-color: #112046;
 
}
.table-row-cell:hover{
    -fx-background-color:  #2653af;
    -fx-table-cell-border-color: #112046;
}

.table-row-cell:selected {
    -fx-background-color:  #2653af;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.textfill {
    -fx-text-fill: #ffffff;
}

.res{
    -fx-background-image: url(/org/andreortega/img/return2.png);
    -fx-background-color: transparent;
    -fx-background-size: contain;
}

.res:hover{
    -fx-background-image: url(/org/andreortega/img/return3.png);
    -fx-background-color: transparent;
    
}
